# Ignore files from exports
/tests export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/phpunit.xml export-ignore
/README.md export-ignore

# Normalize line endings
* text=auto

# PHP files always use LF
*.php text eol=lf
